<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="gaml.extension" name="gaml.extension" schema="schema/gaml.extension.exsd"/>
   <extension
         point="gaml.extension">
   </extension>
   <extension
         point="gama.create">
      <implementation
            class="main.java.gama.genstar.plugin.statements.CreateFromGenstarDelegate">
      </implementation>
   </extension>
</plugin>
